<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- template for the modal component -->
    <script type="text/x-template" id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">
                        <div>

                        </div>
                        <div class="modal-header-custom text-center ">
                            <slot name="header">
                                default header
                            </slot>
                        </div>
                        <div>
                            <slot name="body">
                                default body
                            </slot>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>

    <title>歡迎使用狼人殺筆記助理</title>
</head>

<body>
    <div id="app" :class="timeStatus + '-color'">
        <div class="header-bar" :class="timeStatus + '-header-color'">
            <div class="container-sm lock-mobile-width" style="z-index: 10000;">
                <transition name="slide-fade" mode="out-in">
                    <div v-if="hostMessage" :key="hostMessage" class="host-text text-center">
                        <div class="host-text-arrow"></div>
                        <div v-html="hostMessage"></div>
                        <div v-if="showTimer">{{ timer.toFixed(0) }}</div>
                    </div>
                </transition>
                <div class="judge-icon">
                    <i class="bi bi-person-fill" style="font-size: 2.5rem;"></i>
                </div>
                <div :key="hostTips" class="host-tips text-center text-clould">
                    <div v-if="hostTips" style="background-color: #242424c4; color: white; border-radius: 5px;" v-html="hostTips"></div>
                </div>
            </div>
        </div>
        <div class="function-bar" :class="timeStatus + '-header-color'">
            <div class="function-btn" v-on:click="showModal.knightBattle = true">騎士對決</div>
            <button class="function-btn" v-on:click="showModal = 'knightBattle'" :disabled="knightIsUsedSkill">騎士對決</button>
        </div>

        <div class="container-sm lock-mobile-width">
            <div class="row">
                <div style="height: 210px;"></div>

                <!-- 使用解藥 -->
                <modal v-show="showModal == 'usedAntidote'" @close="showModal = false">
                    <h3 style="color: #1dd1a1;" slot="header">使用解藥？</h3>
                    <div class="mx-2 my-4" slot="body">
                        <button class="next-btn" style="width: 40%;" v-on:click="showModal = false, witchSave()">是</button>
                        <button class="next-btn" style="width: 40%;" v-on:click="showModal = false, next()">否</button>
                    </div>
                    <div slot="footer"></div>
                </modal>
                <!-- 使用毒藥 -->
                <modal v-show="showModal == 'usedPoison'" @close="showModal = false">
                    <h3 style="color: #1dd1a1;" slot="header">使用毒藥？</h3>
                    <div class="mx-2 my-4" slot="body">
                        <button class="next-btn" style="width: 40%;" v-on:click="showModal = false">是</button>
                        <button class="next-btn" style="width: 40%;" v-on:click="showModal = false, next()">否</button>
                    </div>
                    <div slot="footer"></div>
                </modal>
                <!-- 騎士對決 -->
                <modal v-show="showModal == 'knightBattle'" @close="showModal = false">
                    <h3 style="color: #1dd1a1;" slot="header">請選擇騎士查驗對象</h3>
                    <div class="mx-2 my-4" slot="body" style="display: flex;">
                        <div v-for="i in 12" style="width: 30px;">
                            <input type="radio" v-model="knightChoose" :value="i"><label for="">{{i}}</label>
                        </div>
                        <br>
                        <button class="next-btn" style="width: 40%;" v-on:click="showModal = false, knightBattle(knightChoose)">確定</button>
                        <button class="next-btn" style="width: 40%;" v-on:click="showModal = false">取消</button>
                    </div>
                    <div slot="footer"></div>
                </modal>
                <div class="container">
                    <div class="row g-3">
                        <div v-for="(player, index) in players" class="text-center text-clould col-4 player-btn-contanier" :class="isSelected(index) ? 'selected-btn': ''" v-on:click="btnClick(index)">
                            <div class="player-btn p-2" :class="isSelected(index) ? 'selected-btn-color': ''">
                                <div>
                                    <span class="number">P{{ index }}</span><br>
                                    <span>{{ player.name }}</span><br>
                                    <input :id="index" :ref="index" type="checkbox" :name="index" v-model="selected" :value="index" :disabled="disableBtn" style="display: none;">
                                </div>

                            </div>
                            <div v-if="!player.isAlive" class="death-tag p-2">
                                <div></div>
                            </div>
                            <div v-if="_.get(tonight, ['killTag', index], false)" class="kill-tag p-2">
                                <div></div>
                            </div>
                            <div v-if="isDisabled(player) && isShowDisabledMask" class="disable-tag p-2">
                                <div></div>
                            </div>
                            <div v-show="player.isSetRole" class="role-tag p-2">
                                <div>
                                    <i class="bi bi-flag-fill" :class="_.get(roleCard, [player.identity, 'position'], '') + '-color'"></i>&nbsp{{ _.get(roleCard, [player.identity, 'text'], '')}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="height: 100px;"></div>
                <br>
            </div>
        </div>
        <div class="bottom-bar" :class="timeStatus + '-header-color'">
            <button class="next-btn" v-on:click="back()"><i class="bi bi-arrow-counterclockwise"></i>back</button>
            <button class="next-btn" v-on:click="next()" :disabled="disableNext && selected.length == 0">next <i class="bi bi-arrow-right-circle-fill"></i></button>
        </div>
    </div>
</body>

</html>

<script>
    var setting = {
        'werewolvesKing': {
            'numOfPeople': 1,
        },
        'werewolves': {
            'numOfPeople': 3,
        },
        'seer': {
            'numOfPeople': 1,
        },
        'witch': {
            'numOfPeople': 1,
        },
        'hunter': {
            'numOfPeople': 1,
        },
        'knight': {
            'numOfPeople': 1,
        },
    }
    var roleCard = {
        'werewolvesKing': {
            'id': 'werewolvesKing',
            'text': '狼王',
            'camp': 'bad',
            'position': 'wolves',
        },
        'werewolves': {
            'id': 'werewolves',
            'text': '狼人',
            'camp': 'bad',
            'position': 'wolves',
        },
        'seer': {
            'id': 'seer',
            'text': '預言家',
            'camp': 'good',
            'position': 'priesthood',
        },
        'witch': {
            'id': 'witch',
            'text': '女巫',
            'camp': 'good',
            'position': 'priesthood',
        },
        'hunter': {
            'id': 'hunter',
            'text': '獵人',
            'camp': 'good',
            'position': 'priesthood',
        },
        'knight': {
            'id': 'knight',
            'text': '騎士',
            'camp': 'good',
            'position': 'priesthood',
        },
        'villagers': {
            'id': 'villagers',
            'text': '村民',
            'camp': 'good',
            'position': 'civilian',
        }
    };

    var temp = [];

    function speaking() {
        app.startTimer();
        app.showTimer = true;

        var remainder = app.today.speakingDirection == 'left' ?
            (app.today.firstSpeak + app.today.speakIndex) % 12 :
            (app.today.firstSpeak - app.today.speakIndex) % 12;
        var nowSpeak = remainder <= 0 ? (remainder + 12) : remainder;

        if (app.players[nowSpeak].isAlive == false) {
            app.today.speakIndex += 1;
            return 'pass';
        }
        this.messageHtml = 'P' + nowSpeak + '玩家開始發言';
        app.today.speakIndex += 1;
    }

    Vue.component("modal", {
        template: "#modal-template"
    });

    var app = new Vue({
        el: '#app',
        data: {
            roleCard: roleCard,

            timeStatus: 'day',
            day: 1,

            hostMessage: '',
            hostTips: '',
            actionNum: 0,
            selected: [],
            selectQuota: 0,
            isShowDisabledMask: false,

            disableBtn: true,
            disableNext: false,

            tonight: {
                killTag: {},
                killbyHunter: '',
                killbyWerewolvesKing: '',
                killedByWerewolves: '',
                killedByWitch: '',
                haveUsedAntidote: false,
                verifyTarget: '',
                verifyResult: '',
            },
            today: {
                killbyHunter: '',
                killbyWerewolvesKing: '',
                firstSpeak: '',
                speakIndex: 0,
                speakingDirection: '', // left: 順時鐘, right: 逆時鐘
                killedByVote: '',
                tieAtfirstRound: false,
                hasPKRound: false,
            },

            witchPlayer: '',
            isUsedAntidote: false,
            isUsedPoison: false,
            tonightWitchSave: null,
            witchKilled: 0,

            seerPlayer: '',
            tonightVerify: null,

            knightPlayer: '',
            knightChoose: '',
            knightIsUsedSkill: false,

            showTimer: false,
            timer: 0,
            timerInterval: null,

            showModal: '',

            players: {
                "1": {
                    'name': '1號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "2": {
                    'name': '2號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "3": {
                    'name': '3號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "4": {
                    'name': '4號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "5": {
                    'name': '5號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "6": {
                    'name': '6號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "7": {
                    'name': '7號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "8": {
                    'name': '8號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "9": {
                    'name': '9號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "10": {
                    'name': '10號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "11": {
                    'name': '11號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
                "12": {
                    'name': '11號玩家',
                    'isSetRole': false,
                    'identity': '',
                    'isAlive': true,
                },
            },
        },
        methods: {
            next: function() {
                var tempData = _.cloneDeep(this.$data);

                if (typeof(this.runDown[this.actionNum].action) === 'function') {
                    try {
                        if (this.runDown[this.actionNum].action() === 'pass') {
                            this.actionNum += 1;
                            this.next();
                            return;
                        };
                    } catch (e) {
                        console.log('error at next: ', e);
                        return;
                    }
                }
                this.hostMessage = this.runDown[this.actionNum].messageHtml;
                this.hostTips = this.runDown[this.actionNum].tipsHtml;
                if (_.has(this.runDown[this.actionNum], ['modal'])) {
                    this.showModal = _.get(this, ['runDown', this.actionNum, 'modal'], false);
                }
                this.actionNum += 1;

                if (temp.length > 20) {
                    temp = _.drop(temp);
                }
                temp.push(tempData);
            },
            back: function() {
                if (temp.length <= 1) {
                    return;
                }


                var newData = _.last(temp);
                temp.pop();
                logArr.pop();
                _.forEach(this.$data, (value, key) => {
                    this.$data[key] = newData[key]
                });
            },
            pkRound: function() {
                this.actionNum += 1;
                this.today.hasPKRound = true;
                this.next();
            },
            knightBattle: function(target) {
                if (this.knightIsUsedSkill) {
                    return;
                }
                if (target == '') {
                    return;
                }
                this.showModal = false;
                this.showTimer = false;
                var targetIdentity = _.get(this, ['players', target, 'identity'], '');
                var targetCamp = _.get(roleCard, [targetIdentity, 'camp'], '');
                if (targetCamp == 'bad') {
                    this.hostMessage = target + '號 是狼人！<br>準備進入黑夜'
                    this.setIsAlive(target, false);
                    this.actionNum = 0;
                    this.day += 1;
                    this.resetNightData();
                    this.resetDayData();
                } else if (targetCamp == 'good') {
                    this.hostMessage = target + '號 不是狼人！<br>' + this.knightPlayer + '號 騎士以死謝罪'
                    this.setIsAlive(this.knightPlayer, false);
                }

                this.knightIsUsedSkill = true;
            },
            getSetting: function(role) {
                this.num = setting[role].numOfPeople;
                this.disableBtn = false;
            },
            setSelectQuota: function(quota) {
                this.selectQuota = quota;
            },
            setIdentity: function(role) {
                try {
                    if (this.selected.length != this.selectQuota) {
                        throw '數量不對';
                    }

                    _.forEach(this.selected, (key) => {
                        if (this.players[key].identity !== '') {
                            throw '已經設定角色';
                        }
                    });

                    _.forEach(this.players, (value, key) => {
                        if (_.indexOf(this.selected, key) >= 0) {
                            this.players[key].identity = role;
                            this.players[key].isSetRole = true;
                            logArr.push(key + '號 是' + roleCard[role].text);
                        }
                    });

                    // todo 調整
                    if (role == 'seer') {
                        this.seerPlayer = this.selected[0];
                    }
                    if (role == 'knight') {
                        this.knightPlayer = this.selected[0];
                    }

                    this.selected = [];
                } catch (e) {
                    console.log(e);
                    throw e;
                }
            },
            btnClick: function(index) {
                $('#' + index).trigger('click');
            },
            isSelected: function(index) {
                return _.indexOf(this.selected, index) >= 0;
            },
            isDisabled: function(player) {
                return player.isSetRole;
            },

            // kill相關
            setKillTag: function(type = '', canPass = false) {
                try {
                    if (canPass && this.selected.length == 0) {
                        return;
                    }

                    if (this.selected.length != 1) {
                        throw '數量不對';
                    }
                    if (type == '') {
                        throw 'Type不對';
                    }
                    this.tonight.killTag[this.selected[0]] = type;
                    this.selected = [];
                } catch (e) {
                    console.log(e);
                    throw e;
                }
            },
            executeKillTag: function() {
                _.forEach(this.tonight.killTag, (deadType, index) => {
                    if (typeof(this[deadType] === 'function')) {
                        this[deadType](index);
                    }
                });
            },
            wolfKill: function(target) {
                try {
                    this.tonight.killedByWerewolves = target;
                    this.setIsAlive(target, false);
                } catch (e) {
                    console.log(e);
                    throw e;
                }
            },
            witchKill: function(target) {
                try {
                    this.tonight.killedByWitch = target;
                    this.isUsedPoison = true;
                    this.setIsAlive(target, false);
                } catch (e) {
                    console.log(e);
                    throw e;
                }
            },
            voteKill: function() {
                try {
                    if (this.selected.length != 1) {
                        throw '數量不對';
                    }
                    this.today.killedByVote = this.selected[0];
                    this.setIsAlive(this.today.killedByVote, false);
                } catch (e) {
                    console.log(e);
                    throw e;
                }
            },
            hunterKill: function(time = 'night') {
                try {
                    if (this.selected.length != 1) {
                        throw '數量不對';
                    }
                    if (time == 'night') {
                        this.tonight.killbyHunter = this.selected[0];
                    } else if (time == 'day') {
                        this.today.killbyHunter = this.selected[0];
                    }

                    this.setIsAlive(this.selected[0], false);
                } catch (e) {
                    console.log(e);
                    throw e;
                }
            },
            werewolvesKingKill: function(time = 'night') {
                try {
                    if (this.selected.length != 1) {
                        throw '數量不對';
                    }
                    if (time == 'night') {
                        this.tonight.killbyWerewolvesKing = this.selected[0];
                    } else if (time == 'day') {
                        this.today.killbyWerewolvesKing = this.selected[0];
                    }
                    this.setIsAlive(this.selected[0], false);
                } catch (e) {
                    console.log(e);
                    throw e;
                }
            },
            witchSave: function(boolean) {
                this.tonight.haveUsedAntidote = boolean;
                this.next();
            },
            randomOrder: function() {
                var direction = _.sample(['left', 'right']);
                var first = _.sample(_.keys(this.players));
                var totalPlayers = _.size(this.players);

                for (var i = 0; i < totalPlayers; i++) {
                    var index = (first + i) % 12 <= 0 ? (first + i) % 12 + 12 : (first + i) % 12;
                    if (this.players[index].isAlive == true) {
                        this.today.speakingDirection = direction;
                        this.today.firstSpeak = index;
                        return;
                    }
                }
            },
            seerVerify: function() {
                try {
                    if (this.selected.length != 1) {
                        throw '數量不對';
                    }

                    this.tonight.verifyTarget = this.selected[0];
                    var target = this.selected[0];

                    var isSetRole = _.get(this, ['players', target, 'isSetRole'], '');
                    var identity = _.get(this, ['players', target, 'identity'], false)
                    var camp = _.get(roleCard, [identity, 'camp'], false);

                    if (isSetRole) {
                        this.tonight.verifyResult = camp
                    } else if (isSetRole === false) {
                        this.tonight.verifyResult = 'good';
                    } else {
                        throw '驗證發生錯誤';
                    }
                } catch (e) {
                    console.log(e);
                    throw e;
                }
            },
            setCity: function() {
                _.forEach(this.players, (value, key) => {
                    if (!this.players[key].isSetRole) {
                        this.players[key].identity = 'villagers';
                        this.players[key].isSetRole = true;
                    }
                });
            },
            setIsAlive: function(playerIndex, boolean) {
                this.players[playerIndex].isAlive = boolean;
                this.selected = [];
            },
            startTimer: function() {
                if (this.timerInterval) {
                    clearInterval(this.timerInterval);
                }
                this.timer = 60;
                this.timerInterval = setInterval(() => {
                    this.timer -= 1;
                    if (this.timer <= 0) {
                        this.timer = 0;
                        clearInterval(this.timerInterval);
                        return;
                    }
                }, 1000);
            },
            stopTimer: function() {
                if (this.timerInterval) {
                    clearInterval(this.timerInterval);
                }
            },
            resetNightData: function() {
                this.tonight = {
                    killTag: {},
                    killbyHunter: '',
                    killbyWerewolvesKing: '',
                    killedByWerewolves: '',
                    killedByWitch: '',
                    haveUsedAntidote: false,
                    verifyTarget: '',
                    verifyResult: '',
                };
            },
            resetDayData: function() {
                this.today = {
                    killbyHunter: '',
                    killbyWerewolvesKing: '',
                    firstSpeak: '',
                    speakIndex: 0,
                    speakingDirection: '', // left: 順時鐘, right: 逆時鐘
                    killedByVote: '',
                    tieAtfirstRound: false,

                };
            },
        },
        computed: {
            runDown: function() {
                var _this = this;
                return [{
                        'messageHtml': '準備進入第' + _this.day + '夜',
                        'tipsHtml': '',
                        'action': function() {},
                    }, {
                        'messageHtml': '天黑請閉眼',
                        'tipsHtml': '',
                        'action': function() {
                            _this.timeStatus = 'night';
                        }
                    }, {
                        'messageHtml': '狼人請睜眼<br>狼王請伸出大拇指',
                        'tipsHtml': '（請點選狼王玩家）',
                        'action': function() {
                            // 沒有設定狼王
                            if (setting.werewolvesKing.numOfPeople <= 0) {
                                return 'pass';
                            }
                            // 僅第一天需要
                            if (_this.day > 1) {
                                return 'pass';
                            }

                            var quota = _.get(setting, ['werewolvesKing', 'numOfPeople'], 0);
                            if (quota <= 0) {
                                throw 'Set werewolvesKing error: quota <= 0';
                            }

                            _this.setSelectQuota(quota);
                            _this.isShowDisabledMask = true;
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '狼人請睜眼<br>狼王請伸出大拇指',
                        'tipsHtml': '（請點選其他3名狼人玩家）',
                        'action': function() {
                            // 僅第一天需要
                            if (_this.day > 1) {
                                return 'pass';
                            }
                            if (setting.werewolvesKing.numOfPeople > 0) {
                                _this.setIdentity('werewolvesKing');
                            }

                            var quota = _.get(setting, ['werewolves', 'numOfPeople'], 0);
                            if (quota <= 0) {
                                throw 'Set werewolves error: quota <= 0';
                            }
                            _this.setSelectQuota(quota);
                            _this.isShowDisabledMask = true;
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '（請點選被殺害玩家）',
                        'action': function() {
                            if (_this.day <= 1) {
                                this.messageHtml = '狼人請殺人';
                                _this.setIdentity('werewolves');
                            } else {
                                this.messageHtml = '狼人請睜眼<br>狼人請殺人';
                            }
                            _this.isShowDisabledMask = false;
                            _this.disableBtn = false;
                            _this.setSelectQuota(1);
                        },
                    }, {
                        'messageHtml': '狼人請閉眼',
                        'tipsHtml': '',
                        'action': function() {
                            _this.setKillTag('wolfKill');
                            _this.disableBtn = true;
                        },
                    }, {
                        'messageHtml': '女巫請睜眼',
                        'tipsHtml': '',
                        'action': function() {
                            // 沒有設定女巫
                            if (setting.witch.numOfPeople <= 0) {
                                return 'pass';
                            }

                            if (_this.day > 1) {
                                return 'pass';
                            }

                            // 僅第一天需要
                            var quota = _.get(setting, ['witch', 'numOfPeople'], 0);
                            if (quota <= 0) {
                                throw 'Set witch error: quota <= 0';
                            }
                            this.tipsHtml = '（請點選女巫玩家）';
                            _this.setSelectQuota(quota);
                            _this.isShowDisabledMask = true;
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '他死了<br>請問你要使用解藥嗎？',
                        'tipsHtml': '',
                        'modal': 'usedAntidote',
                        'action': function() {
                            // 沒有設定女巫
                            if (setting.witch.numOfPeople <= 0) {
                                return 'pass';
                            }

                            if (_this.day <= 1) {
                                _this.setIdentity('witch');
                            }

                            // 已使用解藥
                            if (_this.isUsedAntidote) {
                                return 'pass';
                            }

                            this.tipsHtml = '（請用手勢告知 ' + _.findKey(_this.tonight.killTag, function(o) {
                                return o != '';
                            }) + '號 死亡）';

                            _this.isShowDisabledMask = false;
                            _this.disableBtn = true;
                            _this.disableNext = true;
                        }
                    }, {
                        'messageHtml': '請問你要使用毒藥嗎？<br>你要毒誰呢？',
                        'tipsHtml': '',
                        'modal': (_this.tonight.haveUsedAntidote || _this.isUsedPoison) ? false : 'usedPoison',
                        'action': function() {
                            // 沒有設定女巫
                            if (setting.witch.numOfPeople <= 0) {
                                return 'pass';
                            }

                            if (_this.tonight.haveUsedAntidote) {
                                _this.isUsedAntidote = true;
                                _this.tonight.killTag = {};
                            }

                            if (_this.tonight.haveUsedAntidote) {
                                this.tipsHtml = '（念完即可）<br><span style="font-size: 0.9rem;">無法同一夜使用解藥毒藥</span>';
                                _this.disableNext = false;
                                return;
                            }
                            if (_this.isUsedPoison) {
                                this.tipsHtml = '（念完即可）<br><span style="font-size: 0.9rem;">已無毒藥</span>';
                                _this.disableNext = false;
                                return;
                            }
                            this.tipsHtml = '（請點選毒藥使用玩家）';
                            _this.disableBtn = false;
                            _this.disableNext = true;
                            // (女巫已淘汰，念完即可)
                        }
                    }, {
                        'messageHtml': '女巫請閉眼',
                        'tipsHtml': '',
                        'action': function() {
                            // 沒有設定女巫
                            if (setting.witch.numOfPeople <= 0) {
                                return 'pass';
                            }
                            _this.setKillTag('witchKill', true);
                            _this.disableBtn = true;
                            _this.disableNext = false;
                        }
                    }, {
                        'messageHtml': '預言家請睜眼',
                        'tipsHtml': '',
                        'action': function() {
                            // 沒有設定預言家
                            if (setting.seer.numOfPeople <= 0) {
                                return 'pass';
                            }
                            // 僅第一天需要
                            if (_this.day <= 1) {
                                var quota = _.get(setting, ['seer', 'numOfPeople'], 0);
                                if (quota <= 0) {
                                    throw 'Set seer error: quota <= 0';
                                }
                                this.tipsHtml = '（請點選預言家玩家）';
                                _this.setSelectQuota(quota);
                                _this.isShowDisabledMask = true;
                                _this.disableBtn = false;
                            }
                        },
                    }, {
                        'messageHtml': '請選擇你要查驗的對象',
                        'tipsHtml': '（請點選被查驗對象）',
                        'action': function() {
                            // 沒有設定預言家
                            if (setting.seer.numOfPeople <= 0) {
                                return 'pass';
                            }
                            if (_this.day <= 1) {
                                _this.setIdentity('seer');
                            }
                            if (_this.players[_this.seerPlayer].isAlive != true) {
                                this.tipsHtml = '（念完即可：預言家已淘汰）';
                                return;
                            }

                            _this.isShowDisabledMask = false;
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '（請用手勢告知身份）',
                        'action': function() {
                            // 沒有設定預言家
                            if (setting.seer.numOfPeople <= 0) {
                                return 'pass';
                            }
                            if (_this.players[_this.seerPlayer].isAlive != true) {
                                return 'pass';
                            }
                            _this.seerVerify();
                            this.messageHtml = _this.tonight.verifyResult === 'good' ?
                                '<i class="bi bi-hand-thumbs-up-fill"></i>' : '<i class="bi bi-hand-thumbs-down-fill"></i>';
                            _this.disableBtn = true;
                            logArr.push('預言家驗證' + _this.selected[0] + '號' + logLang[_this.tonight.verifyResult]);
                            _this.selected = [];
                        }
                    }, {
                        'messageHtml': '預言家請閉眼',
                        'tipsHtml': '',
                        'action': function() {
                            // 沒有設定預言家
                            if (setting.seer.numOfPeople <= 0) {
                                return 'pass';
                            }
                        }
                    }, {
                        'messageHtml': '獵人請睜眼',
                        'tipsHtml': '（請點選獵人玩家）',
                        'action': function() {
                            // 沒有設定獵人
                            if (setting.hunter.numOfPeople <= 0) {
                                return 'pass';
                            }
                            if (_this.day > 1) {
                                return 'pass';
                            }

                            // 僅第一天需要
                            var quota = _.get(setting, ['hunter', 'numOfPeople'], 0);
                            if (quota <= 0) {
                                throw 'Set hunter error: quota <= 0';
                            }
                            _this.setSelectQuota(quota);
                            _this.isShowDisabledMask = true;
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '獵人請閉眼',
                        'tipsHtml': '',
                        'action': function() {
                            // 沒有設定獵人
                            if (setting.hunter.numOfPeople <= 0) {
                                return 'pass';
                            }
                            if (_this.day > 1) {
                                return 'pass';
                            }
                            _this.setIdentity('hunter');
                            _this.disableBtn = true;
                        },
                    }, {
                        'messageHtml': '騎士請睜眼',
                        'tipsHtml': '（請點選騎士玩家）',
                        'action': function() {
                            // 沒有設定騎士
                            if (setting.knight.numOfPeople <= 0) {
                                return 'pass';
                            }
                            if (_this.day > 1) {
                                return 'pass';
                            }
                            // 僅第一天需要
                            var quota = _.get(setting, ['knight', 'numOfPeople'], 0);
                            if (quota <= 0) {
                                throw 'Set hunter error: quota <= 0';
                            }
                            _this.setSelectQuota(quota);
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '騎士請閉眼',
                        'tipsHtml': '',
                        'action': function() {
                            // 沒有設定騎士
                            if (setting.knight.numOfPeople <= 0) {
                                return 'pass';
                            }
                            if (_this.day > 1) {
                                return 'pass';
                            }
                            _this.setIdentity('knight');
                            _this.setCity();
                            _this.isShowDisabledMask = false;
                            _this.disableBtn = true;
                        },
                    }, {
                        'messageHtml': '天亮了',
                        'tipsHtml': '',
                        'action': function() {
                            _this.timeStatus = 'day';
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            _this.executeKillTag();
                            _this.tonight.killTag = {};
                            return 'pass';
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            if (_this.tonight.haveUsedAntidote) {
                                this.messageHtml = '昨晚是平安夜';
                            } else {
                                this.messageHtml = '昨晚 ' + _.filter([
                                    _this.tonight.killedByWerewolves,
                                    _this.tonight.killedByWitch,
                                ], function(killed) {
                                    return killed !== '';
                                }).sort(function(a, b) {
                                    return a - b;
                                }).join('號、') + '號 玩家出局';
                            }

                        },
                    },
                    //夜晚 狼刀到獵人
                    {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _.get(_this, ['tonight', 'killedByWerewolves'], '');
                            if (theDead == '' || _.get(_this, ['players', theDead, 'identity']) !== 'hunter') {
                                return 'pass';
                            }
                            this.messageHtml = theDead + '號玩家<br>請使用角色技能';
                            this.tipsHtml = '（請點選技能使用對象）';
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _.get(_this, ['tonight', 'killedByWerewolves'], '');
                            if (theDead == '' || _.get(_this, ['players', theDead, 'identity']) !== 'hunter') {
                                return 'pass';
                            }
                            this.messageHtml = _this.selected[0] + '號玩家出局';
                            _this.hunterKill('night');
                        },
                    },
                    // 獵槍殺到狼王case
                    {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _this.tonight.killbyHunter;
                            if (theDead == '' || _this.players[theDead].identity !== 'werewolvesKing') {
                                return 'pass'
                            }
                            this.messageHtml = theDead + '號玩家<br>請使用角色技能';
                            this.tipsHtml = '（請點選技能使用對象）';
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _this.tonight.killbyHunter;
                            if (theDead == '' || _this.players[theDead].identity !== 'werewolvesKing') {
                                return 'pass'
                            }
                            this.messageHtml = _this.selected[0] + '號玩家出局';
                            _this.werewolvesKingKill('day');
                        },
                    },
                    // 夜晚 狼王自刀
                    {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _.get(_this, ['tonight', 'killedByWerewolves'], '');
                            if (theDead == '' || _.get(_this, ['players', theDead, 'identity']) !== 'werewolvesKing') {
                                return 'pass';
                            }
                            this.messageHtml = theDead + '號玩家<br>請使用角色技能';
                            this.tipsHtml = '（請點選技能使用對象）';
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _.get(_this, ['tonight', 'killedByWerewolves'], '');
                            if (theDead == '' || _.get(_this, ['players', theDead, 'identity']) !== 'werewolvesKing') {
                                return 'pass';
                            }
                            this.messageHtml = _this.selected[0] + '號玩家出局';
                            _this.werewolvesKingKill('night');
                        },
                    },
                    // 狼王殺到獵人 case
                    {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _this.tonight.killbyWerewolvesKing;
                            if (theDead == '' || _this.players[theDead].identity !== 'hunter') {
                                return 'pass'
                            }
                            this.messageHtml = theDead + '號玩家<br>請使用角色技能';
                            this.tipsHtml = '（請點選技能使用對象）';
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _this.tonight.killbyWerewolvesKing;
                            if (theDead == '' || _this.players[theDead].identity !== 'hunter') {
                                return 'pass'
                            }
                            this.messageHtml = _this.selected[0] + '號玩家出局';
                            _this.hunterKill('day');
                        },
                    }, {
                        'messageHtml': '請發表遺言',
                        'tipsHtml': '',
                        'action': function() {
                            if (_this.day > 1 || _this.tonight.haveUsedAntidote) {
                                return 'pass';
                            }
                        },
                    }, {
                        'messageHtml': '由系統抽出發言順序',
                        'tipsHtml': '',
                        'action': function() {
                            _this.randomOrder();
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var next = (_this.today.speakingDirection == 'left' ? (_this.today.firstSpeak + 1) : (_this.today.firstSpeak - 1));
                            this.messageHtml = _this.today.firstSpeak + '號玩家開始<br>往' +
                                (next % 12 != 0 ? next % 12 : 12) + '號方向接續';
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': speaking,
                    }, {
                        'messageHtml': '現在準備投票<br>倒數後舉出你投的票',
                        'tipsHtml': '',
                        'action': function() {
                            _this.showTimer = false;
                        },
                    }, {
                        'messageHtml': '3、2、1 請投票',
                        'tipsHtml': '（請點選遭投票出局玩家）',
                        'action': function() {
                            _this.disableBtn = false;
                        },

                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            this.messageHtml = _this.selected[0] + '號玩家出局';
                            _this.voteKill();
                        },
                    },
                    // 平票PK
                    {
                        'messageHtml': '平票辯論<br>請候選人依序發言',
                        'tipsHtml': '',
                        'action': function() {
                            if (!_this.today.hasPKRound) {
                                return 'pass';
                            }
                            _this.disableBtn = false;

                        },
                    }, {
                        'messageHtml': '再次進行投票<br>倒數後舉出你投的票',
                        'tipsHtml': '',
                        'action': function() {
                            if (!_this.today.hasPKRound) {
                                return 'pass';
                            }
                        },
                    }, {
                        'messageHtml': '3、2、1 請投票',
                        'tipsHtml': '（請點選遭投票出局玩家）',
                        'action': function() {
                            if (!_this.today.hasPKRound) {
                                return 'pass';
                            }
                            _this.disableBtn = false;
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            if (!_this.today.hasPKRound) {
                                return 'pass';
                            }
                            this.messageHtml = _this.selected[0] + '號玩家出局';
                            _this.voteKill();
                        },
                    },

                    //票到獵人或狼王 strat
                    {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _.get(_this, ['today', 'killedByVote'], '');
                            var theDeadIdentity = _.get(_this, ['players', theDead, 'identity'], '');

                            if (theDeadIdentity === 'hunter' ||
                                theDeadIdentity === 'werewolvesKing') {
                                this.messageHtml = theDead + '號玩家<br>請使用角色技能';
                                this.tipsHtml = '（請點選技能使用對象）';
                                _this.disableBtn = false;
                                return;
                            }
                            return 'pass';
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            var theDead = _.get(_this, ['today', 'killedByVote'], '');
                            var theDeadIdentity = _.get(_this, ['players', theDead, 'identity'], '');

                            this.messageHtml = _this.selected[0] + '號玩家出局';
                            if (theDeadIdentity === 'hunter') {
                                _this.hunterKill('day');
                            } else if (theDeadIdentity === 'werewolvesKing') {
                                _this.werewolvesKingKill('day');
                            }
                        },
                    }, {
                        //又殺到狼王或獵人＊＊＊＊＊＊＊＊＊＊＊＊＊
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            if (_this.today.killbyHunter != '') {
                                var theDead = _this.today.killbyHunter;
                                if (_.get(_this, ['players', theDead, 'identity'], '') === 'werewolvesKing') {
                                    this.messageHtml = theDead + '號玩家<br>請使用角色技能';
                                    this.tipsHtml = '（請點選技能使用對象）';
                                    _this.disableBtn = false;
                                    return;
                                }
                            }
                            if (_this.today.killbyWerewolvesKing != '') {
                                var theDead = _this.today.killbyWerewolvesKing;
                                if (_.get(_this, ['players', theDead, 'identity'], '') === 'hunter') {
                                    this.messageHtml = theDead + '號玩家<br>請使用角色技能';
                                    this.tipsHtml = '（請點選技能使用對象）';
                                    _this.disableBtn = false;
                                    return;
                                }
                            }
                            return 'pass';
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            if (_this.today.killbyHunter != '') {
                                var theDead = _this.today.killbyHunter;
                                if (_.get(_this, ['players', theDead, 'identity'], '') === 'werewolvesKing') {
                                    this.messageHtml = _this.selected[0] + '號玩家出局';
                                    _this.werewolvesKingKill('day');
                                    return;
                                }
                            }
                            if (_this.today.killbyWerewolvesKing != '') {
                                var theDead = _this.today.killbyWerewolvesKing;
                                if (_.get(_this, ['players', theDead, 'identity'], '') === 'hunter') {
                                    this.messageHtml = _this.selected[0] + '號玩家出局';
                                    _this.hunterKill('day');
                                    return;
                                }
                            }
                            return 'pass';
                        },
                    },
                    //票到獵人或狼王 end
                    {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            if (_this.today.killedByVote == '') {
                                this.messageHtml = '再次平票，進入黑夜'
                            } else {
                                this.messageHtml = '請發表遺言'
                            }
                            _this.disableBtn = true;
                        },
                    }, {
                        'messageHtml': '',
                        'tipsHtml': '',
                        'action': function() {
                            _this.actionNum = 0;
                            _this.day += 1;
                            _this.resetNightData();
                            _this.resetDayData();
                        },
                    },
                ];
            }
        }
    })
</script>