[v-cloak] {
    display: none;
}

#hostSettingPage,
#hostPage {
    overflow-x: hidden;
    background-color: rgb(47 47 47);
}


/* common */

body {
    letter-spacing: 0.05em;
}

button {
    letter-spacing: 0.05em;
}

.day,
.night {
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}


/* theme background color */

.day .bg-color-1 {
    background-color: #ecf0f1;
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.day .bg-color-2 {
    background-color: rgba(230, 230, 230, 1);
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.night .bg-color-1 {
    background-color: #2d333e;
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.night .bg-color-2 {
    color: #ecf0f1;
    background-color: #191c21;
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.day .bg-color-t1 {
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgb(230 230 230 / 80%);
}

.night .bg-color-t1 {
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    background-color: rgb(25 28 33 / 80%);
}

.day .bg-color-t2 {
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgb(230 230 230 / 60%);
}

.night .bg-color-t2 {
    transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: background-color 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
    background-color: rgb(25 28 33 / 60%);
}


/* button color */

.day .btn-color-green {
    color: #f7f7f7 !important;
    background-color: #1ABC9C!important;
    box-shadow: 0px 3px 0px 0px rgb(12, 131, 101)!important;
}

.day .btn-color-green:active {
    margin-top: 2px!important;
    background-color: #0f7561!important;
    box-shadow: 0px 1px 0px 0px rgb(12, 131, 101)!important;
}

.day .btn-color-green:disabled {
    color: #d8d8d8!important;
    background-color: #bbbbbb!important;
    box-shadow: 0px 3px 0px 0px rgb(146 146 146)!important;
}

.night .btn-color-green {
    color: white;
    background-color: #368B85;
    box-shadow: 0px 3px 0px 0px #173b39;
}

.night .btn-color-green:active {
    margin-top: 2px;
    background-color: #26635e;
    box-shadow: 0px 1px 0px 0px #26635e;
}

.night .btn-color-green:disabled {
    color: #b1b1b1;
    background-color: #759493;
    box-shadow: 0px 3px 0px 0px #465a58;
}

.btn-color-gold {
    color: white;
    background: linear-gradient(-60deg, #FFE998, #bb7820, #FFE998, #bd7516);
    box-shadow: 0px 3px 0px 0px #db8f2b;
    background-size: 400% 400%;
    animation: gradient 10s ease infinite !important;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.btn-color-red {
    background-color: #ff4757;
    box-shadow: 0px 3px 0px 0px #963535;
    color: white;
}

.bg-color-red-mask {
    background: linear-gradient(rgba(255, 0, 0, 0.85), rgba(255, 0, 0, 0.5));
}

.bg-color-black-mask {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.5));
}

.bg-color-black-mask-2 {
    background: linear-gradient(rgba(25, 28, 23, 0.5), rgba(25, 28, 23, 0.6));
}

.bg-color-yellow-mask {
    background: linear-gradient(rgba(254, 202, 87, 0.95), rgba(254, 202, 87, 0.8));
}

.bg-color-white-mask {
    background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.99));
}

.color-deep-gray {
    color: #424949;
}

.color-clould {
    color: #ecf0f1;
}

.bg-color-clould {
    background-color: #ecf0f1;
}

.color-green {
    color: #1dd1a1;
}

.color-purple {
    color: #9b59b6;
}

.color-yellow {
    color: #feca57;
}

.wolves-color {
    color: #ee5253;
}

.priesthood-color {
    /* color: #feca57; */
    color: #3867d6;
}

.villagers-color {
    color: #3867d6ab;
}

.tune_svg_width {
    width: 217px !important;
}

.lock-mobile-width {
    max-width: 540px !important;
    margin: auto;
}

.ht-10 {
    height: 10px;
}

.ht-20 {
    height: 20px;
}

.ht-30 {
    height: 30px;
}

.ht-40 {
    height: 40px;
}

.ht-50 {
    height: 50px;
}

.ht-60 {
    height: 60px;
}

.fs-7 {
    font-size: 0.8rem !important;
}

.fs-8 {
    font-size: 0.5rem !important;
}

.fs-3px {
    font-size: 3px !important;
}


/* header */


/* fixed to center */

.main-menu-btn,
.host-bar,
.tips-bar,
.error-message,
.function-bar,
.bottom-bar {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.main-menu-btn {
    top: 0;
    height: 50px;
    z-index: 2000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
}

.main-menu-btn>div {
    margin-right: 10px;
    color: #424242;
    width: 30px;
    height: 30px;
    background-color: #ffffffe5;
    border-radius: 25px;
    box-shadow: 0px 1.5px 0.5px 0px rgb(146 145 145 / 90%);
}

.host-bar {
    display: block;
    top: 0px;
    width: 100%;
    height: 145px;
    /* border-bottom: 0.1em dashed #9e9e9e; */
    border-bottom: 2px solid #424949;
    z-index: 1000;
    overflow: hidden;
}

.tips-bar {
    display: block;
    top: 145px;
    width: 100%;
    min-height: 40px;
    z-index: 1000;
}


/* 
.host-message {
    position: relative;
    display: flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height: 80px;
    margin: 10px 10px 0px 10px;
    border-radius: 30px;
    background-color: #ffffffd4;
} */

.host-message-item {
    letter-spacing: 0.1em;
    border-top: 1px rgb(121, 121, 121) solid;
    height: 90px;
}

.host-message-item.past {
    margin-top: -35px;
    color: rgb(165, 165, 165);
}

.host-text-arrow {
    position: absolute;
    bottom: -15px;
    left: 40px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #ffffffd4;
}

.judge-icon {
    display: flex;
    position: absolute;
    left: 5px;
    top: 35px;
    align-content: flex-start;
    flex-direction: column;
    animation: float 4s infinite;
}

.now-arrow-icon {
    text-shadow: 2px 2px 2px #00000094;
    font-size: 70px;
    margin-bottom: -25px;
}

.now-tips-tag {
    color: black;
    padding: 0 4px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px #00000094;
}

.fade-in {
    animation: fadein 0.2s 1;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.host-tips {
    display: inline-flex;
    vertical-align: middle;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1rem;
    /* background-color: #242424c4; */
    color: white;
    text-shadow: 0px 1px 1px black;
    border-radius: 5px;
    animation: bounceAfter 5s infinite;
}

@keyframes bounceAfter {
    0% {
        transform: translateY(0);
    }
    92% {
        transform: translateY(0);
    }
    93% {
        transform: translateY(-5px);
    }
    95% {
        transform: translateY(3px);
    }
    97% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes bounceAfter {
    0% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    92% {
        transform: translateY(-4px);
    }
    94% {
        transform: translateY(2px);
    }
    96% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bounceAfter {
    0% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    92% {
        transform: translateY(-4px);
    }
    94% {
        transform: translateY(2px);
    }
    96% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(3px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes bounce {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(3px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    40% {
        transform: translateY(3px);
    }
    60% {
        transform: translateY(-2px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

.error-message {
    /* text-shadow: 0px 1px 1px rgba(63, 63, 63, 0.527); */
    width: 100%;
    top: 200px;
    z-index: 2000;
}

.error-message>div {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    min-height: 65px;
    position: relative;
}

.function-bar {
    display: inline-flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    bottom: 50px;
    width: 100%;
    height: 45px;
    z-index: 500;
}

.function-bar::-webkit-scrollbar {
    display: none;
}

.function-bar-wapper {
    /* display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: center; */
    height: 45px;
}

.function-btn {
    display: inline-block;
    font-size: 0.7rem;
    width: max-content;
    height: 30px;
    border: none;
    border-radius: 50px;
    margin: 0 5px 3px 5px;
    padding: 0 15px;
    animation: slidein 0.5s 1;
}


/* todo 修正破匡問題 */

.function-bar-mask {
    position: fixed;
    right: 0;
    bottom: 50px;
    height: 45px;
    width: 30px;
    align-items: center;
}

@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 70px;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes slidein {
    from {
        opacity: 0;
        margin-left: 70px;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slidein {
    from {
        opacity: 0;
        margin-left: 70px;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        margin-bottom: 40px;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes slideDown {
    from {
        opacity: 0;
        margin-bottom: 40px;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slideDown {
    from {
        opacity: 0;
        margin-bottom: 40px;
    }
    to {
        opacity: 1;
    }
}

.function-btn.special {
    font-size: 1rem;
    font-weight: 500;
    margin-left: calc(50vw);
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


/* content */


/* player button */

.player-btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.player-btn {
    width: 100%;
    height: 100px;
    box-shadow: 0px 5px 0px 0px #00000094;
    background-color: #686c768f;
    border-radius: 12px;
}

.player-btn.selected {
    background-color: #ff4757;
    box-shadow: 0px 1px 0px 0px #963535;
}

.player-btn.click-animation {
    background-color: #ff4757;
    box-shadow: 0px 1px 0px 0px #963535;
}

.selected-btn {
    top: 4px;
}

.number {
    font-weight: 800;
}

.death-tag {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.death-tag>div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100px;
    background-color: #5a000086;
    box-shadow: 0px 5px 0px 0px #5a000086;
    border-radius: 12px;
}

.name-tag {
    height: 35px;
    background-color: #242424c4;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.number-tag {
    z-index: 15;
    height: 25px;
    width: 25px;
    background-color: #ffffffe5;
    box-shadow: 0px 2px 1px 0px #00000086;
    color: black;
    border-radius: 25px;
    position: absolute;
    left: 3px;
    top: -4px;
}

.number-tag.is-dead {
    color: #9f7374;
    background-color: #5a0000bf;
}

.role-tag {
    padding-bottom: 1px;
    text-shadow: 0px 1px 1px black;
}

.role-tag.bad {
    box-shadow: 0px 3px 0px -1px #ee5253;
}

.mark-tag {
    position: absolute;
    width: 100%;
    height: 33px;
    animation: slideDown 0.2s 1;
    bottom: 0;
}

.mark-tag>div {
    height: 100%;
}

.mark {
    margin-top: -1px;
    text-align: center;
    padding: auto;
    margin-left: -3px;
    margin-right: -3px;
    height: 20px;
    min-width: 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px 0px #000000;
}

.mark.used {
    background-color: rgb(138 138 138) !important;
    color: #a0a0a0;
}

.change-tag {
    height: 25px;
    min-width: 35px;
    border-radius: 20px;
    box-shadow: 0px 1px 1px 0px #000000;
    background-color: white;
    color: black;
}

.expired {
    background-color: rgb(154 153 153) !important;
    color: rgb(103 103 103) !important;
}

.disable-tag {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 11;
}

.disable-tag>div {
    background-color: #212529c2;
    border-radius: 12px;
    top: 0;
    height: 100px;
    box-shadow: 0px 5px 0px 0px #1d1d1de7;
}

.border-tag {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 11;
}

.border-tag>div {
    top: 0;
    border-radius: 12px;
    height: 100px;
}

.border-tag>div {
    top: 0;
    border-radius: 12px;
    height: 100px;
}

.border-tag.kill-tag>div {
    border: 3px #ee5253 solid;
    box-shadow: 0px 5px 0px 0px #963535;
}


/* bottom bar */

.bottom-bar {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 50px;
    padding: 15px 30px 20px 30px;
    z-index: 1000;
}

.next-btn {
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.next-btn.hint {
    animation: bounce 0.5s 1;
}


/* modal */

.modal-mask {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
}

.modal-mask.level-1 {
    z-index: 400;
}

.modal-mask.level-2 {
    z-index: 2000;
}

.modal-mask.level-5 {
    z-index: 9999;
}

.donate-modal-wapper {
    margin: auto;
    background-color: white;
    width: 100%;
    max-height: calc(100vh - 100px);
    border-radius: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.main-menu {
    background-color: white;
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
}

.menu-item {
    height: 50px;
}

.timer-modal {
    border-radius: 12px;
    top: 195px;
    width: calc(100vw - 20px);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height: calc(100vh - 350px);
    overflow-y: scroll;
    z-index: 5000;
    background-color: #fffffffa;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}


/* .modal-wrapper {} */

.modal-header-custom {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}

.modal-body-custom {
    max-height: calc(100vh - 450px);
    overflow-y: scroll;
}

.modal-body-custom::-webkit-scrollbar {
    display: none;
}

.modal-body-mask {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.97), rgb(255, 255, 255));
    position: absolute;
    bottom: 70px;
    left: 0px;
    width: 100%;
    height: 20px;
}

.name-title {
    color: #424242;
}

.name-input {
    border-radius: 4px;
    border: 1px solid #c1c1c1;
    color: #737373;
}

.modal-footer-custom {
    height: 50px;
    margin-top: 10px;
}

.modal-container {
    position: absolute;
    top: 195px;
    width: 100%;
    max-width: 300px;
    max-height: calc(100vh - 300px);
    margin: 0px auto;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 33%);
    transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-player-btn {
    background-color: transparent;
    display: flex;
    place-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 auto 10px auto;
    border-radius: 50px;
    border: 1px #424242 solid;
    color: #424242;
}

.modal-player-btn:active {
    border: 1px #ee5253 solid;
    background-color: #ee5253;
    color: white;
}

.modal-player-btn.selected {
    border: 1px #ee5253 solid;
    background-color: #ee5253;
    color: white;
}

.modal-player-btn.disable {
    border: 1px #bdc3c7 solid;
    background-color: #efefef;
    color: #bdc3c7;
}

.modal-btn {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 12px;
    margin-left: 10px;
    margin-right: 10px;
}


/* modal end */


/* setting page */

.wolves-bg-color {
    color: white;
    background-color: #ee5253;
    /* text-shadow: 0px 1px 1px black; */
}

.priesthood-bg-color {
    color: white;
    background-color: #3867d6;
    /* text-shadow: 0px 1px 1px black; */
}

.villagers-bg-color {
    color: white;
    background-color: #3867d6ab;
}

.role-dot-tag {
    margin-left: 3px;
    font-size: 0.5rem;
    width: 22px;
    height: 22px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.board {
    border-radius: 12px;
    border: 3px #ecf0f1 solid;
    box-shadow: 0px 3px 0px 0px #babebe;
}

.board.selected {
    border: 3px #ee5253 solid;
    box-shadow: 0px 3px 0px 0px #963535;
}

.board-modal-title {
    height: 130px;
}

.board-modal-content {
    height: calc(100vh - 190px);
    overflow: scroll;
}

.board-modal-bottom {
    background-color: white;
    position: fixed;
    bottom: 0;
}

.select-btn {
    border: 1px solid #424949;
    border-radius: 15px;
    height: 35px;
    position: relative;
}

.select-btn>i {
    position: absolute;
    right: 10px;
}

.role-btn {
    max-width: 90px;
    width: 100%;
    min-height: 35px;
    border: 1px solid #424949;
    border-radius: 15px;
    position: relative;
}

.role-btn.disabled {
    border: 1px #bdc3c7 solid;
    background-color: #efefef;
    color: #bdc3c7;
}

.role-btn.wolves-bg-color {
    border: 1px solid #ee5253;
}

.role-btn.priesthood-bg-color {
    border: 1px solid #3867d6;
}

.role-btn.villagers-bg-color {
    border: 1px solid #3867d600;
}

.role-num-tag,
.add-tag,
.subtract-tag {
    color: black;
    position: absolute;
}

.role-num-tag {
    box-shadow: 0px 1px 1px 0px #000000;
    background-color: white;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    bottom: -25px;
}

.add-tag {
    width: 40px;
    height: 40px;
    right: 5px;
}

.add-tag>div {
    background-color: white;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 25px;
    height: 25px;
    border-radius: 30px;
}

.add-tag.disabled>div {
    color: #858585 !important;
    background-color: #b8b8b8;
}

.subtract-tag {
    width: 40px;
    height: 40px;
    left: 5px;
}

.subtract-tag>div {
    background-color: white;
    box-shadow: 0px 1px 1px 0px #000000;
    width: 25px;
    height: 25px;
    border-radius: 30px;
}

.count-btn {
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 7px;
}

.count-btn:disabled {
    color: #e0e0e0 !important;
    background-color: #d0d0d0;
    box-shadow: 0px 3px 0px 0px #a9a9a9;
}

.count-btn>i {
    margin-left: 1px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.under-line {
    -webkit-text-decoration-line: underline;
    /* Safari */
    text-decoration-line: underline;
}

.rule-line {
    font-size: 0.7rem;
}

.submit-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(109, 109, 109, 0.322);
}

.btn-submit {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 12px;
    height: 44px;
    border: none;
}

.pay-img {
    border-radius: 12px;
    width: 217px !important;
}

@keyframes rolling {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rolling {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes rolling {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 500px;
    background: #1ABC9C;
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);
    background: linear-gradient(to right, #556270, #4ECDC4);
}

.circle.counting {
    animation: rolling 2s infinite linear;
}

.circle.counting.final {
    background: #ee5253;
    background: -webkit-linear-gradient( 45deg, gold, deeppink);
    background: linear-gradient( 45deg, gold, deeppink);
}

.circle>div {
    background-color: white;
    width: 92%;
    height: 92%;
    border-radius: 500px;
    margin: auto;
}

.timer {
    color: #556270;
    position: absolute;
    font-size: 2rem;
}

.timer.counting.final {
    color: #ee5253;
}